* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

.container {
    display: grid;
    min-height: 100%;
    grid-template-columns: repeat(4, 1fr);

    grid-template-areas: 
    "bx bx bx bx"
    "bx em em bx"
    "bx em em bx"
    "bx bx bx bx";
}

.cover {
    width: 25vw;
    height: 25vh;

    grid-area: "bx";
}

.happy {
    color: white;
    grid-area: "em";

    background-color: #B19DF9;
    grid-column: 2/4;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.happy img {
    border-radius: 50%;
}

.blue {
    color: #94D6FF;
    background-color: #94D6FF;
}

.red {
    color: #FC809F;
    background-color: #FC809F;
}

.green {
    color: aquamarine;
    background-color: aquamarine;
}

.yellow {
    color: #FFEA9D;
    background-color: #FFEA9D;
}
